

.product-detail{
    box-sizing: border-box;
    margin:0 10vh ;
    background: greenyellow;
}

.backBtn{
    height: 15px;
    margin: 14vh 5vw;
    /* margin-bottom: 5vw; */
}

.card-body .brand{
    font-size: 0.9rem;
color: grey;
font-weight: 500;
}

.badge-rating{
    font-size: 1rem;
    font-weight: 100;
    background: yellow;
    color: blue;
    /* height: 1.5rem;
    width: 1.8rem; */
}

.card-body h4{
font-size: 1.6rem;
}

.card-body h4 + .card-text{
    font-size: 0.9rem;
}

.card-price{
    font-size: 1.4rem;
}

.card-discount{
    font-size: 0.8rem;
    color: red;
}

.card-btn{
    width: 15rem;
    height: 2rem;
    border-radius: 4px;
    border: none;
    background: yellow;
    color: blue;
}